.mainContainerL{
    text-align: center;
    height: 100%;
    width: 100%;
    display: flex;
    background-color: lightgrey;
}

.firstSectionL{
    background-color: lightgrey;
    width: 40%;
    height: 100vh;
}

.firstSectionImageL{
    margin-top: 10vh;
    width: 90%;
    height: 65%;
}

.firstSectionQuoteL{
    font-style: italic;
    font-size: 1.5vw;
    color: grey;
    width: 60%;
    margin: 5vh 0 0 18%;
}

.firstSectionNameL{
    margin-right: 6%;
    font-size: 1.2vw;   
}

.secondSectionL{
    background-color: white;
    width: 60%;
    height: 100vh;
}

.secondSectionHeaderL{
    margin-top: 5vh;
    font-size: 2.5vw;
}

.secondSectionIntroL{
    color: grey;
    font-size: 1.3vw;
}

.secondSectionInputContainerL{
    margin: 5vh 60% 0 0;
}

.secondSectionFormL{
    height: 55vh;
}

.secondSectionInputNameL{
    font-size: 2vw;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    margin: 0 0 5% 23%;
}

.secondSectionInputTL{
    border-radius: 15px;
    border: 2px solid lightgrey;
    box-shadow: 0px 3px 5px 0px lightgrey;
    background-color: rgb(248, 248, 248);
    height: 6vh;
    width: 40vw;
    margin-left: 20%;
    padding-left: 25%;
    font-size: 3vh;
    background-image: url('./loginAssets/LockIcon.png');
    background-repeat: no-repeat;
    background-position: 2.5%;
}

.secondSectionInputFL{
    border-radius: 15px;
    border: 2px solid red;
    box-shadow: 0px 3px 5px 0px lightgrey;
    background-color: rgb(248, 248, 248);
    height: 6vh;
    width: 40vw;
    margin-left: 20%;
    padding-left: 25%;
    font-size: 3vh;
    background-image: url('./loginAssets/LockIcon.png');
    background-repeat: no-repeat;
    background-position: 2.5%;
}


.secondSectionPassKeepL{
    margin: 5vh 0 0 0;
    width: 4%;
    cursor: pointer;
}

.secondSectionInputFailL{
    color: red;
    margin: 1vh 0 0 7vw;
    position: absolute;
    font-size: 1.1vw;
    font-style: italic;
}

.secondSectionLabelL{
    margin: 0 40% 0 0;
    font-size: 1.4vw;
}

.secondSectionLabelL:hover{
    cursor: pointer;
}

.formButtonContainerL{
    height: 50%;
    margin: 0 0 0 30%;
    display: flex;
    flex-flow: column;
}

.passForgot{
    color: blue;
    text-decoration: underline;
    cursor: pointer;
    font-size: calc(0.7vh + 0.7vw);
}

.secondSectionRegisterButtonL{
    width: 55%;
    height: 8vh;
    margin: 8vh 0 3vh 0 ;
    background-color: lightblue;
    color: rgb(112, 112, 112);
    font-weight: bold;
    border-radius: 50px;
    border: none;
    font-size: 2vw;
}

.secondSectionRegisterButtonL:active{
    background-color: lightblue;
    box-shadow: 0 4px lightgrey;
    transform: translateY(4px);
}

.secondSectionRegisterButtonL:hover{
    cursor: pointer;
}

.secondSectionGoogleButtonL{
    width: 55%;
    height: 8vh;
    padding-left: 3.5%;
    background-color: white;
    color: rgb(112, 112, 112);
    font-weight: bold;
    border-radius: 50px;
    border: 3px solid lightblue;
    font-size: 1vw;
    background-image: url('./loginAssets/GoogleIcon.png');
    background-repeat: no-repeat;
    background-position: 6.5%;
    background-size: 8%;
}

.secondSectionGoogleButtonL:active{
    background-color: white;
    box-shadow: 0 4px lightgrey;
    transform: translateY(4px);
}

.secondSectionGoogleButtonL:hover{
    cursor: pointer;
}

.secondSectionPitanjeL{
    font-size: 120%;
}

.secondSectionNavL{
    color: blue;
}

.secondSectionNavL:hover{
    cursor: pointer;
}