.listContainer{
    display: flex;
    flex-flow: row;
    
}

.projectContainer{
    display: flex;
    flex-flow: column;
    margin: 10vh 0 0 3vw;
    height: 80vh;
    width: 33vw;
    border: 1px solid black;
    border-radius: 10px;
}

.projectListPicture{
    height: 40vh;
    width: 33vw;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.dateTime{
    font-size: 1vw;
    color: grey;
    margin: 3vh 0 0 2vw;
}

.projectName{
    font-size: 1.5vw;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin: 2vh 0 0 2vw;
}

.projectDesc{
    width: 27vw;
    margin: 0 0 0 2vw;
    font-size: 1.1vw;
    color: rgb(101, 100, 100);
}
