.heading{
    display: flex;
}

.headerImage{
    width: 10vw;
    height: 10vh;
    margin-top: 2vh;
    float: left;
    object-fit: contain;
}

.headerImage:hover{
    cursor: pointer;
}

.navigationOption{
    font-size: 1.8vw;
    font-weight: bold;
    color: darkgrey;
    margin: 2vh 3vw 0 0;
    cursor: pointer;
    text-decoration: none;
}

.navigationOption:hover{
    color: lightblue;
}

.navContainer{
    margin: 5vh 0 0 5vw;
}

.accountOptions{
    margin: 3.5vh 0 0 4vw;
}

.logIn{
    border: 2px solid lightblue;
    height: 7vh;
    width: 12vw;
    font-size: 1.2vw;
    font-weight: bold;
    color: grey;
    background-color: white;
    border-radius: 15px;
    margin-right: 2vw;
}

.logIn:hover{
    cursor: pointer;
}

.logIn:active{
    background-color: white;
    box-shadow: 0 4px lightgrey;
    transform: translateY(4px);
}

.register{
    border: none;
    height: 7vh;
    width: 12vw;
    font-size: 1.2vw;
    font-weight: bold;
    color: white;
    background-color: rgb(113,177,200);
    border-radius: 15px;
    margin-right: 2vw; 
}

.register:hover{
    cursor: pointer;
}

.register:active{
    background-color: rgb(113,177,200);
    box-shadow: 0 4px lightgrey;
    transform: translateY(4px);
}

.mainSectionContainer{
    width: 60vw;
    height: 80vh;
    margin: 5vh auto 0 auto;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.mainSectionHeader{
    font-size: 2.5vw;
    color: grey;
}

.mainSectionText{
    color: darkgrey;
    font-size: 1.5vw;
}

.mainSectionImage{
    height: 30vh;
    width: 20vw;
    margin-top: 3vh;
}

.mainSectionButton{
    margin: 5vh;
    border-radius: 15px;
    border: 3px solid orange;
    color: orange;
    background-color: white;
    font-size: 1.5vw;
    height: 10vh;
    width: 20vw;
    cursor: pointer;
}

.mainSectionButton:active{
    background-color: white;
    box-shadow: 0 4px lightgrey;
    transform: translateY(4px);
}

.mainSectionButton2{
    top: 20vh;
    right: 5vw;
    position: absolute;
    border-radius: 15px;
    border: 3px solid orange;
    color: orange;
    background-color: white;
    font-size: 1.3vw;
    height: 7vh;
    width: 15vw;
    cursor: pointer;
}

.mainSectionButton2:active{
    background-color: white;
    box-shadow: 0 4px lightgrey;
    transform: translateY(4px);
}

.listContainer{
    display: flex;
    flex-flow: row;
    width: 100vw;
    margin: 15vh 0 0 0;
    overflow: scroll;
    -ms-overflow-style: none;  
    scrollbar-width: none;
}

.listContainer::-webkit-scrollbar{
    display: none;
}

.projectContainer{
    display: flex;
    flex-flow: column;
    margin: 0 1vw 0 1vw;
    height: 60vh;
    width: 25vw;
    border: 1px solid black;
    border-radius: 10px;
}

.projectListPicture{
    height: 30vh;
    width: 25vw;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.dateTime{
    font-size: 1vw;
    color: grey;
    margin: 1.5vh 0 0 2vw;
}

.projectName{
    font-size: 1.5vw;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin: 1vh 0 0 2vw;
}

.projectDesc{
    width: 20.6vw;
    height: 13vh;
    margin: 1vh 0 0 2vw;
    font-size: 1.1vw;
    color: rgb(101, 100, 100);
    padding-right: 0.5vw;
    resize: none;
    outline: none;
    border: none;
}

.projectDesc::-webkit-scrollbar {
    width: 0.5vw
}

.projectDesc::-webkit-scrollbar-track {
    box-shadow: white; 
    border-radius: 10px;
}

.projectDesc::-webkit-scrollbar-thumb {
    background: darkgrey; 
    border-radius: 10px;
}

.vidiDetalje{
    position: relative;
    height: 1vh;
    width: 10vw;
    left: 2vw;
    font-size: 1.3vw;
    color: rgb(38, 98, 218);
    text-decoration: none;
    cursor: pointer;
}